<button class="ham" onclick="displayNav()"><i class="fa fa-bars"></i></button>
<nav id="nav">
    <ul>
        <section class="general">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#theme">THEME</a></li>
            <li><a href="#speakers">TALK AND SPEAKERS</a></li>
            <li><a href="#partners">PARTNERS</a></li>
            <li><a href="#">ADMIN</a></li>
        </section>
        <section class="stream-btn">
            <li><a href="#" class="stream">STREAM</a></li>
        </section>
    </ul>
</nav>

<script>
    function displayNav() {
        var x = document.getElementById("nav");
        if(x.style.display == "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    $("#nav").on('click', 'a', function(event) {                                                                                if(this.href != "https://localhost:3000/login") {                                                                           if(this.href != "https://localhost:3000/payment") {                                                                         if(this.href != "https://localhost:3000/logout") {                                                                          if(this.href != "https://localhost:3000/team") {                                                                            event.preventDefault();                                                                                                 var element = $(this.hash).offset().top;                                                                                $('html,body').animate({scrollTop: element});                                                                       }                                                                                                                   }                                                                                                                   }                                                                                                                   }                                                                                                                   })
</script>
