<header>
    {{>default-header}}
</header>

<section class="container">
    <section id="about" class="about">
        <h2 class="about-head">01____ABOUT</h2>
        <p class="about-content">TEDx is a platform for local communities: <br>to create, illuminate and inspire. An<br> independently organized event, it promotes<br> discussion within organisations, institutions<br> and districts that shares novel ideas and births<br> thought-provoking
                conversation. TEDx is a voice<br> for all who wish to be heard.</p>
    </section>
</section>