<header>
    {{>default-header}}
</header>

<section class="container">
    <section class="organisers">
        <h2 class="organisers-head">07<span class="dashes">____</span>ORGANISER'S DESK</h2>
        <p class="organisers-content">Coming together for the event has been one of the rewards to itself. We as organisers have not only invested money here for returns but the astonishing correlation of the event with our organisational vision and beliefs made this partnership immeasurably better. The theme for the event being "Solitude Thinking" scrupulously sums up our past two years. With pandemic testing our limits daily, we have never stopped, and have just involved heightening our instincts and thinking. With the same message to spread across and bring more of us under the same banner of humans, we have agreed to organize this exceptional event adding our flavour to it. The line of speakers and their stories of inspiration are worth the platform and we together resolve to make this theme a lifestyle, not all work has profit, but all work has intention, and we are sure, you would be gladdened by ours.</p>
    </section>
</section>