{{#if error}}
<p class="error">Invalid Contact Form Submitted!!!</p>
{{else success}}
<p class="success">Contact Form Submitted Successfully!!!</p>
{{else senderror}}
<p class="error">Some Error Occured While Contacting Us!!!</p>
{{/if}}

<header>
    <section class="main">
            <section class="circle">
                <img src="/images/Daco_5422946.png" class="globe">
                <h1 class="tedx"><span class="ted">TEDx</span> KALAMASSERY</h1>
                <p class="tedx-content"><span class="ted-x">x</span>=independantly organized TED Event</p>
            </section>
    </section>
</header>

<section class="container">
    <section id="about" class="about">
        <h2 class="about-head">01____ABOUT</h2>
        <p class="about-content">TEDx is a platform for local communities: <br>to create, illuminate and inspire. An<br> independently organized event, it promotes<br> discussion within organisations, institutions<br> and districts that shares novel ideas and births<br> thought-provoking
                conversation. TEDx is a voice<br> for all who wish to be heard.</p>
    </section>

    <section id="theme" class="thinking">
        <h2 class="thinking-head">02<span class="dashes">____</span>THE SOLUTED THINKING</h2>
        <p class="thinking-content">With a wave of unknown hitting us every day. last year seemed to be a wholesale stock of it. Unaware of what to expect, we coped with all the consequences as we had hope and directed our inner self to the best. Mental health got its due and
                people started to emote and express themselves and found those deep roots which hold the entire system of their being. All of this was possible as we were out in the wild conscience of greater things and did not have the otherwise hectic,
                loaded life of which became ignored and agreed' slaves. We here, with similar energy, want to start this event and let our abilities to create change, take the lead and make us realize that the fine space between fiction and reality is
                home, it's our happy meme.</p>
        <img src="/images/TEDXback.png" alt="TEDX Background" class="tedback">
        <img src="/images/TEDXfront.png" alt="TEDX Right Image" class="tedfront">
    </section>

    <section id="speakers" class="speakers">
        <h2 class="speakers-head">03<span class="dashes">____</span>TALKS AND SPEAKERS</h2>
        <p class="speakers-content">1 Day 6 Speakers</p>
        <img src="/images/speakers/shailaja.png" alt="speaker avatar" class="avatar" id="speaker1">
        <div class="speakerContent" id="sp1">
            <h3>K.K Shailaja</h3>
            <p class="speakerPara">Popularly known as the “coronavirus slayer” and the “rockstar health minister” , K.K Shailaja took the country by storm with her sensible judgement and effective protocols during the pandemic. The Former Minister for Health and Family Welfare of Kerala has received worldwide recognition for her efforts from organisations such as the UN, BBC, Vogue and Financial Times.</p>
        </div>
        <img src="/images/speakers/kumar.png" alt="speaker avatar" class="avatar" id="speaker2">
        <div class="speakerContent" id="sp2"> 
            <h3>Ajayya Kumar</h3>
            <p class="speakerPara">Ajayya Kumar, based in UAE, is the COO at Emircom. Ajayya is a qualified Cost Accountant from the prestigious Institute of Cost &amp; Works Accountants of India (ICWAI) He is well known for his tactical skills and strategies, which makes him a trusted source for his bankers, vendors and fellow team members. He is a whiz in the field of finance and knows how to get the job done!</p>
        </div>
        <img src="/images/speakers/rajiv.png" alt="speaker avatar" class="avatar" id="speaker3">
        <div class="speakerContent" id="sp3">
            <h3>Gayathri Rajeev</h3>
            <p class="speakerPara">Singer, Reality Show Contestant, Gayathri Rajeev, has already become a household name. B.Tech student, and Karate Black Belt holder has stupefied all the state with her euphonic voice and is prized by her fans and supporters all across the state. With her realistic attitude, and unidealistic mannerisms, her story is all set to be known and loved as much as she is.</p>
        </div>
        <img src="/images/speakers/priya.png" alt="speaker avatar" class="avatar" id="speaker4">
        <div class="speakerContent" id="sp4">
            <h3>Dr. V S Priya</h3>
            <p class="speakerPara">State's first Transgender Doctor, Priya has proved yet again the power of education over all other social restrains. Avowed male at birth, her early ages were a strife against herself and society did not make it any easy for her to win. Making education her utmost priority, Dr. Priya now lives in a society with equals, and has created a path for all the future kids that would not have to fight this battle again. Within history lies historic stories, and hers is definitely one of them.</p>
        </div>
        <img src="/images/speakers/bhasir.png" alt="speaker avatar" class="avatar" id="speaker5">
        <div class="speakerContent" id="sp5">
            <h3>Anooja Bashir</h3>
            <p class="speakerPara">Apostle for girl education, Director of FlexiCloud, Ourea, Woman Entrepreneur of the year and a 40 under 40 Awardee, Anooja Bashir has broken all the stereotypical circumvention to become most influential business woman. The entrepreneur guides people in Business Management field to create a customer-driven market, and with the same idea was her company able to withstand the Global Pandemic in style. Her achievements are multifarious and her objective only one, this CEO of the Year shares her story with the same intention to grow together.</p>
        </div>
        <img src="/images/speakers/narayanan.jpg" alt="speaker avatar" class="avatar" id="speaker6">
        <div class="speakerContent" id="sp6">
            <h3>Aditya Narayan</h3>
            <p class="speakerPara">One of the youngest entrepreneur, CEO of Vieroots, Aditya Narayan is inspiration to this generations ideal call. He is continuously striving towards the 'call' and concurrently carrying forward his father, Dr. Sajeev Nair's legacy. Flamboyantly evincing this generation, enjoying with Bollywood and cricket biggies on one hand while on the other hand to transforming the lives of common people. He roots to find the best of everyone, and has created a first-ever personally modified lifestyle choices available within the reach of a touch. Some minor changes make a huge impact on selfhood and others around and these changes are that which makes this speaker unique.</p>
        </div>
    </section>

    <section id="partners" class="partners">
        <h2 class="partners-head">Partners</h2>
        <img src="/images/partners/upgrade-white.png" alt="upgrade-logo" class="partner-logo">
    </section>

    <section class="writings">
        <h2 class="writings-head">06<span class="dashes">____</span>WRITINGS</h2>
        <h3 class="writings-head1">Songs that make us feel whole</h3>
        <h3 class="writings-head2">We heal the same way we learn our favorite songs:</h3>
        <p class="writings-content">Perhaps, we heal the same way that music finds its way into every soul.<br> We heal with rhythm and rhyme, and with a flow in our veins. There is a<br> tune that teases your heart. and<br> tickles your shadow, awaiting a<br> musical note that will strike the right
                chord..<br>We heal the same way we learn our favorite songs, with a diligence to<br> learn the lyrics that speak to us and dance to the beats that move us with no effort.</p>
        <img src="/images/image2.png" alt="artwork of a man staring into a window" class="writings-img">
    </section>

    <section class="organisers">
        <h2 class="organisers-head">07<span class="dashes">____</span>ORGANISER'S DESK</h2>
        <p class="organisers-content">Coming together for the event has been one of the rewards to itself. We as organisers have not only invested money here for returns but the astonishing correlation of the event with our organisational vision and beliefs made this partnership immeasurably better. The theme for the event being "Solitude Thinking" scrupulously sums up our past two years. With pandemic testing our limits daily, we have never stopped, and have just involved heightening our instincts and thinking. With the same message to spread across and bring more of us under the same banner of humans, we have agreed to organize this exceptional event adding our flavour to it. The line of speakers and their stories of inspiration are worth the platform and we together resolve to make this theme a lifestyle, not all work has profit, but all work has intention, and we are sure, you would be gladdened by ours.</p>
    </section>

    <section class="contact">
        <h2 class="contact-head"><span class="dashes">____________</span>CONTACT US</h2>
        <h3 class="contact-sub"><span class="ted-color">TEDx</span>KALAMASSERY</h3>
        <p class="contact-body">Let's get in touch...</p>
        <form action="/contact" method="POST" class="contact-form">
            <input type="text" class="textio" placeholder="Name" name="name" required>
            <input type="email" class="textio" placeholder="Email" name="email" required>
            <input type="tel" class="textio" placeholder="Phone Number" pattern="[0-9]{10}" name="phone" required>
            <textarea class="textareaio" name="message">Message</textarea>
            <p class="privacy">Your details will not be shared with any third party. <a href="#">Privacy Policy</a></p>
            <input class="button" type="submit" value="Submit">
        </form>
    </section>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>

<script>
    $(".avatar").on("click", function(event) {
        if(this.id == "speaker1") {
            if($("#sp1").is(":visible")) {
                $("#sp1").css("display", "none");
                $("#speaker1").css("display", "inline");
                $("#speaker1").css("width", "13%");
            } else {
                $("#sp1").css("display", "block");
                $("#speaker1").css("display", "block");
                $("#speaker1").css("width", "25%");
                $("#speaker1").css("margin-left", "auto");
                $("#speaker1").css("margin-right", "auto");
            }
        }else if(this.id == "speaker2") {
            if($("#sp2").is(":visible")) {
                $("#sp2").css("display", "none");
                $("#speaker2").css("display", "inline");
                $("#speaker2").css("width", "13%");
            } else {
                $("#sp2").css("display", "block");
                $("#speaker2").css("display", "block");
                $("#speaker2").css("width", "25%");
                $("#speaker2").css("margin-left", "auto");
                $("#speaker2").css("margin-right", "auto");
            }
        }else if(this.id == "speaker3") {
            if($("#sp3").is(":visible")) {
                $("#sp3").css("display", "none");
                $("#speaker3").css("display", "inline");
                $("#speaker3").css("width", "13%");
            } else {
                $("#sp3").css("display", "block");
                $("#speaker3").css("display", "block");
                $("#speaker3").css("width", "25%");
                $("#speaker3").css("margin-left", "auto");
                $("#speaker3").css("margin-right", "auto");
            }
        }else if(this.id == "speaker4") {
            if($("#sp4").is(":visible")) {
                $("#sp4").css("display", "none");
                $("#speaker4").css("display", "inline");
                $("#speaker4").css("width", "13%");
            } else {
                $("#sp4").css("display", "block");
                $("#speaker4").css("display", "block");
                $("#speaker4").css("width", "25%");
                $("#speaker4").css("margin-left", "auto");
                $("#speaker4").css("margin-right", "auto");
            }
        }else if(this.id == "speaker5") {
            if($("#sp5").is(":visible")) {
                $("#sp5").css("display", "none");
                $("#speaker5").css("display", "inline");
                $("#speaker5").css("width", "13%");
            } else {
                $("#sp5").css("display", "block");
                $("#speaker5").css("display", "block");
                $("#speaker5").css("width", "25%");
                $("#speaker5").css("margin-left", "auto");
                $("#speaker5").css("margin-right", "auto");
            }
        }else if(this.id == "speaker6") {
            if($("#sp6").is(":visible")) {
                $("#sp6").css("display", "none");
                $("#speaker6").css("display", "inline");
                $("#speaker6").css("width", "13%");
            } else {
                $("#sp6").css("display", "block");
                $("#speaker6").css("display", "block");
                $("#speaker6").css("width", "25%");
                $("#speaker6").css("margin-left", "auto");
                $("#speaker6").css("margin-right", "auto");
            }
        }
    });
</script>