<header>
    {{>default-header}}
    <section class="members">
        <h1 class="members-head">Team</h1>
    </section>
</header>

<section class="container">
    <section id="speakers" class="team">
        <div class="team-div">
            <h2>Co-Organizers</h2>
            <img src="/images/team/corganizer.jpeg" alt="team avatar" class="avatar" id="speaker1">
            <img src="/images/team/corganizer2.jpeg" alt="team avatar" class="avatar" id="speaker1">
        </div>
        <div class="team-div">
            <h2>Design Head</h2>
            <img src="/images/team/designhead.jpg" alt="team avatar" class="avatar" id="speaker1">
        </div>
        <div class="team-div">
            <h2>Curation Head</h2>
            <img src="/images/team/curationhead.jpeg" alt="team avatar" class="avatar" id="speaker1">
        </div>
        <div class="team-div">
            <h2>Licensee &amp; Organizer</h2>
            <img src="/images/team/licensee.jpg" alt="team avatar" class="avatar" id="speaker1">
        </div>
        <div class="team-div">
            <h2>Sponsorship Head</h2>
            <img src="/images/team/sponsorshiphead.jpeg" alt="team avatar" class="avatar" id="speaker1">
        </div>
        <div class="team-div">
            <h2>Editorial Head</h2>
            <img src="/images/team/editorialhead.jpeg" alt="team avatar" class="avatar" id="speaker1">
        </div>
    </section>
</section>