<header>
    {{>default-header}}
</header>

<section id="partners" class="partners">
    <h2 class="partners-head">Partners</h2>
    <img src="/images/partners/upgrade-white.png" alt="upgrade-logo" class="partner-logo">
</section>