<header class="payment-head">
    <h1 class="payment-ted"><span class="ted">TEDx</span> KALAMASSERY</h1>
    <p class="payment-para"><span class="ted">x</span>=independently organized TED Event</p>
</header>

<section class="payment-info">
    <p class="purchase">PURCHASE THE LIVE CONFERENCE</p>
    <ul class="payment-list">
        <li>High definition access to the full archive of the TEDxKalamassery 2021 conference.</li>
        <li>For personal use only.</li>
        <li>Content will become available on December 5, 2021.</li>
    </ul>
    <section class="pay">
        <p class="amount">ALL SESSIONS : ₹249/-</p>
	<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_I7YskSy9JdETNn" async> </script> </form>
    </section>
</section>
