<header>
    {{>default-header}}
</header>

<section class="container">
    <section id="theme" class="thinking">
        <h2 class="thinking-head">02<span class="dashes">____</span>THE SOLUTED THINKING</h2>
        <p class="thinking-content">With a wave of unknown hitting us every day. last year seemed to be a wholesale stock of it. Unaware of what to expect, we coped with all the consequences as we had hope and directed our inner self to the best. Mental health got its due and
                people started to emote and express themselves and found those deep roots which hold the entire system of their being. All of this was possible as we were out in the wild conscience of greater things and did not have the otherwise hectic,
                loaded life of which became ignored and agreed' slaves. We here, with similar energy, want to start this event and let our abilities to create change, take the lead and make us realize that the fine space between fiction and reality is
                home, it's our happy meme.</p>
    </section>
</section>