<header class="stream-head">
    <h1 class="heading">STREAM</h1>
    <h2 class="tedx-video"><span class="ted">TEDx</span>KALAMASSERY</h2>
    <p class="stream-para"><span class="ted">x</span>=independently organized TED Event</p>
</header>

<section class="video">
    <video src="/videos/test2.mov" type="video/mp4" controls class="video-play"></video>
</section>

</section>