<header>
    {{>default-header}}
</header>

<section class="container">
    <section class="writings">
        <h2 class="writings-head">06<span class="dashes">____</span>WRITINGS</h2>
        <h3 class="writings-head1">Songs that make us feel whole</h3>
        <h3 class="writings-head2">We heal the same way we learn our favorite songs:</h3>
        <p class="writings-content">Perhaps, we heal the same way that music finds its way into every soul.<br> We heal with rhythm and rhyme, and with a flow in our veins. There is a<br> tune that teases your heart. and<br> tickles your shadow, awaiting a<br> musical note that will strike the right
                chord..<br>We heal the same way we learn our favorite songs, with a diligence to<br> learn the lyrics that speak to us and dance to the beats that move us with no effort.</p>
        <img src="/images/image2.png" alt="artwork of a man staring into a window" class="writings-img">
    </section>
</section>